<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<h:outputStylesheet name="styles.css" library="css" />
	<link rel="stylesheet" type="text/css"
		href="../../resources/css/styles.css" />
	<title><ui:insert name="titre">Titre</ui:insert></title>
</h:head>
<h:body>
	<div id="body">

		<div id="header">&nbsp;
			<h:link outcome="personnes" value="Personnes" rendered="#{modelConnexion.compteConnecte.isInRole('UTILISATEUR')}" />
			<h:link outcome="categories" value="Catégories" rendered="#{modelConnexion.compteConnecte.isInRole('UTILISATEUR')}" />
			<h:link outcome="comptes" value="Comptes" rendered="#{modelConnexion.compteConnecte.isInRole('UTILISATEUR')}" />
			<h:form>
				<h:commandLink action="#{modelConnexion.disconnect}" rendered="#{not empty modelConnexion.compteConnecte}">
					<h:outputText  value="Déconnexion" />
				</h:commandLink>
			</h:form>&nbsp;
		</div>

		<h1><ui:insert name="titre">Titre</ui:insert></h1>
		<h:messages id="messages" styleClass="messages" />
		<ui:insert name="contenu">Contenu de la page</ui:insert>

		<div id="footer">© 2016 - Groupe 3iL</div>

	</div>
</h:body>
</html>