<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css"
		href="../../resources/css/styles.css" />
	<f:metadata>
		<f:event type="preRenderView" listener="#{modelInfo.preRender}" />
	</f:metadata>
</h:head>
<h:body>
	<div id="body">

		<ui:composition template="../template/page-standard.xhtml">

			<ui:define name="titre">Gestion des contacts</ui:define>

			<ui:define name="contenu">

				<h:form action="info.jsf">
					<table class="form">
						<tr>
							<td><label>Pseudo :</label></td>
							<td><h:inputText value="#{modelConnexion.pseudo}" size="15" /></td>
						</tr>
						<tr>
							<td><label>Mot de passe :</label></td>
							<td><h:inputSecret value="#{modelConnexion.motDePasse}" size="15" /></td>
						</tr>
					</table>

					<br /> 
					<h:commandButton action="#{modelConnexion.connect}" value="Se connecter"  />
					<input
						type="reset" value="Effacer" />
				</h:form>

			</ui:define>

		</ui:composition>

	</div>
</h:body>
</html>