<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css"
		href="../../resources/css/styles.css" />
</h:head>
<h:body>
	<div id="body">

	<ui:composition template="../template/page-standard.xhtml">

			<ui:define name="titre">Compte</ui:define>

			<ui:define name="contenu">

				<h:form>
					<table class="form">
						<tr>
							<td><label>Id :</label></td>
							<td><h:inputText size="5" readonly="true"
									value="#{modelCompte.compteVue.id}" /></td>
						</tr>
						<tr>
							<td><label>Pseudo :</label></td>
							<td><h:inputText size="25"
									value="#{modelCompte.compteVue.pseudo}" /></td>
						</tr>
						<tr>
							<td><label>Mot de passe :</label></td>
							<td><h:inputText size="25"
									value="#{modelCompte.compteVue.motDePasse}" /></td>
						</tr>
						<tr>
							<td><label>E-mail :</label></td>
							<td><h:inputText size="50"
									value="#{modelCompte.compteVue.email}" /></td>
						</tr>
						<tr>
							<td><label>Roles :</label></td>
							<td><h:selectManyCheckbox  layout="pageDirection" value="#{modelCompte.rolesChoisis}" >
								<f:selectItems value="#{modelCompte.roles}"
									var="role" itemValue="#{role.id}" itemLabel="#{role.libelle}" />
							</h:selectManyCheckbox></td>
						</tr>
					</table>
					<br />
					<h:commandButton value="Valider" action="#{modelCompte.validerMiseAJour}" />
					<h:button value="Retour" outcome="comptes" />
				</h:form>

			</ui:define>

		</ui:composition>

	</div>
</h:body>
</html>