<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css"
		href="../../resources/css/styles.css" />
</h:head>
<h:body>
	<div id="body">

	<ui:composition template="../template/page-standard.xhtml">

			<ui:define name="titre">Liste des comptes</ui:define>

			<ui:define name="contenu">

				<h:form>

					<ui:fragment rendered="#{empty modelCompte.comptes}">
						La liste est vide.
						<br />
						<br />
					</ui:fragment>

					<h:dataTable styleClass="liste" var="compte"
						value="#{modelCompte.comptes}"
						rendered="#{not empty modelCompte.comptes}">
						<h:column id="column1">
							<f:facet name="header">
								<h:outputText value="Pseudo" />
							</f:facet>
							<h:outputText value="#{compte.pseudo}" />
						</h:column>
						<h:column id="column2">
							<f:facet name="header">
								<h:outputText value="Roles" />
							</f:facet>
							<ui:repeat var="role" value="#{compte.roles}" varStatus="status" >
								<h:outputText value="#{role}#{not status.last ? ', ' : ''}" />
							</ui:repeat>
						</h:column>
						<h:column id="column3">
							<f:facet name="header">
								<h:outputText value="Actions" />
							</f:facet>
						<h:commandButton image="#{resource['images:modifier.png']}"
							action="#{modelCompte.preparerModifier(compte)}"
							styleClass="image-action" title="Modifier" />
						<h:commandButton image="#{resource['images:supprimer.png']}"
							action="#{modelCompte.supprimer(compte)}"
							styleClass="image-action" title="Supprimer" >
							<f:ajax render="@form" />
						</h:commandButton>
						</h:column>
					</h:dataTable>

					<br />
					<h:commandButton value="Actualiser"
						action="#{modelCompte.actualiserListe}" >
						<f:ajax render="@form messages" />
					</h:commandButton>
					<h:commandButton value="Ajouter"
						action="#{modelCompte.preparerAjouter}" />
				</h:form>

			</ui:define>

		</ui:composition>

	</div>
</h:body>
</html>