<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css"
		href="../../resources/css/styles.css" />
</h:head>
<h:body>
	<div id="body">

		<ui:composition template="../template/page-standard.xhtml">

			<ui:define name="titre">Personne</ui:define>

			<ui:define name="contenu">

				<h:form>
					<table class="form">
						<tr>
							<td><label>Id :</label></td>
							<td><h:inputText value="#{modelPersonne.personneVue.id}"
									size="5" readonly="true" /></td>
						</tr>
						<tr>
							<td><label>Nom :</label></td>
							<td><h:inputText value="#{modelPersonne.personneVue.nom}"
									size="25" /></td>
						</tr>
						<tr>
							<td><label>Prénom :</label></td>
							<td><h:inputText value="#{modelPersonne.personneVue.prenom}"
									size="25" /></td>
						</tr>
						<tr>
							<td><label>Catégorie :</label></td>
							<td>
								<h:selectOneMenu value="#{modelPersonne.personneVue.categorie}"	
									converter="#{convertisseurCategorie}" var="cat" >
								 	<f:selectItems value="#{modelCategorie.categories}"
								 		var="categorie" itemValue="#{categorie}" itemLabel="#{categorie.libelle}" />
								</h:selectOneMenu>
							</td>
						</tr>
					</table>
					<br />




					<h:dataTable id="tableTelephones" styleClass="liste"
						style="width: 350px"
						value="#{modelPersonne.personneVue.telephones}" var="telephone">
						<h:column>
							<h:outputText value="#{telephone.id}" />
							<f:facet name="header">
								<h:outputText value="Id"></h:outputText>
							</f:facet>
						</h:column>
						<h:column id="column1">
							<h:inputText value="#{telephone.libelle}" />
							<f:facet name="header">
								<h:outputText value="Libellé"></h:outputText>
							</f:facet>
						</h:column>
						<h:column id="column2">
							<h:inputText value="#{telephone.numero}" />
							<f:facet name="header">
								<h:outputText value="Numéro"></h:outputText>
							</f:facet>
						</h:column>
						<h:column id="column3">
							<h:commandButton image="#{resource['images:supprimer.png']}"
								action="#{modelPersonne.supprimerTelephone(telephone)}">
								<f:ajax render="@form" execute="@form" />
							</h:commandButton>
							<f:facet name="header">
								<h:outputText value=""></h:outputText>
							</f:facet>
						</h:column>
					</h:dataTable>
					<br />
					<h:commandButton value="Ajouter"
						action="#{modelPersonne.ajouterTelephone}">
						<f:ajax render="tableTelephones" execute="tableTelephones" />
					</h:commandButton>
					<h:commandButton value="Valider"
						action="#{modelPersonne.validerMiseAJour}" />
					<h:button value="Retour" outcome="personnes" />

				</h:form>

			</ui:define>

		</ui:composition>


	</div>
</h:body>
</html>