<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css"
		href="../../resources/css/styles.css" />
</h:head>
<h:body>
	<div id="body">

		<ui:composition template="../template/page-standard.xhtml">

			<ui:define name="titre">Liste des personnes</ui:define>

			<ui:define name="contenu">

				<h:form>

					<ui:fragment rendered="#{empty modelPersonne.personnes}">
						La liste est vide.
						<br />
						<br />
					</ui:fragment>

					<h:dataTable id="tablePersonnes"
						value="#{modelPersonne.personnes}" var="personne" border="1"
						styleClass="liste"
						rendered="#{not empty modelPersonne.personnes}">
						<h:column id="column1">
							<h:outputText value="#{personne.id}" />
							<f:facet name="header">
								<h:outputText value="Id" />
							</f:facet>
						</h:column>
						<h:column id="column2">
							<h:outputText value="#{personne.nom}" />&nbsp;<h:outputText
								value="#{personne.prenom}" />
							<f:facet name="header">
								<h:outputText value="Nom" />
							</f:facet>
						</h:column>
						<h:column id="column3">
							<h:commandButton image="#{resource['images:modifier.png']}"
								title="Modifier" action="#{modelPersonne.preparerModifier(personne)}" />
							<h:commandButton image="#{resource['images:supprimer.png']}"
								title="Supprimer" action="#{modelPersonne.supprimer(personne)}" />
							<f:facet name="header">
								<h:outputText value="Actions" />
							</f:facet>
						</h:column>
					</h:dataTable>


					<br />
					<h:commandButton value="Actualiser"
						action="#{modelPersonne.actualiserListe}">
						<f:ajax render="tablePersonnes messages" />
					</h:commandButton>
					<h:commandButton value="Ajouter"
						action="#{modelPersonne.preparerAjouter}" />

				</h:form>

			</ui:define>

		</ui:composition>

	</div>
</h:body>
</html>